<section class="breadcrumbs-section">
  <div class="container p-1 p-sm-3">
    <div class="row">
      <div class="col-12">
        <h2>About Us</h2>

      </div>
    </div>
  </div>

</section>

<section class="about-company-section">
  <div class="container p-1 p-sm-3">
    <div class="row">
      <div class="col-12 text-center">
        <h2>About We Care</h2>
        <hr/>
      </div>

      <div class="col-md-3">
        <img class="img-fluid" src="assets/about1.png" alt="">

      </div>
      <div class="col-md-9">
        <p>


          We Care is an established and respected
          healthcare provider situated in elpitiya town in Galle
          district.Many people in this area do their channeling
          services through this medical centre.This centre is
          provided great services through this medical centre.
          This centre is provided great service to people who
          accept thir channeling service. Now a day's medical
          .centre keeps a manual process for their channeling
          services.
        </p>

      </div>
      <div class="p-1" id="topHeader">
        <div class="container">
          <div class="row">
            <div class="col-12 text-right">
              <a class="p-1" href="tel:+919090909090"> <i class="fas fa-phone"></i> +(91) 9090909090 </a>
              <a class="p-1" href="mailto:elpitiyamedicare@gmail.com  "> <i class="fas fa-envelope"></i>
                wecare@gmail.com </a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>


<!-- START :  Home page 6th section - Our services -->
<section class="pt-3 pb-4">
  <div class="container">
    <div class="row mt-4">
      <div class="col text-center">
        <h3>
          Our services
        </h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 text-center">
        <img class="img-fluid qualities-img p-4" src="assets/about2.jpg">


      </div>
      <div class="col-md-4 text-center">
        <img class="img-fluid qualities-img p-4" src="assets/about3.jpg">


      </div>
      <div class="col-md-4 text-center">

        <img class="img-fluid qualities-img p-4" src="assets/about4.jpg">

      </div>
    </div>

    <div class="row mb-md-3">
      <div class="col-md-4 text-center">
        <img class="img-fluid qualities-img p-4" src="assets/about5.jpg">

      </div>
      <div class="col-md-4 text-center">
        <img class="img-fluid qualities-img p-4" src="assets/about6.jpg">

      </div>
      <div class="col-md-4 text-center">
        <img class="img-fluid qualities-img p-4" src="assets/about7.jpg">

      </div>
    </div>
  </div>
</section>
