<div class="row justify-content-center">
  <div class="col-12">
    <ng-snotify></ng-snotify>
    <ngx-spinner></ngx-spinner>
    <section class="container-sessions">
      <h3 class="ui-component-note">We Care</h3>
      <div class="ui-profile">
        <div class="doctor-profile">
          <div class="doctor-photo"><img alt="doctor character background"
                                         src="https://image.freepik.com/free-vector/doctor-character-background_1270-84.jpg">
          </div>
          <div class="doctor-quick-details">
            <ul>
              <li class="doctor-name"><a href="#/">Dr. {{doctorSession.fkDoctor.name}}</a> <span
                class="doctor-qualifications"></span>
              </li>
              <li class="doctor-title">
                {{doctorSession.fkDoctor.description}}
              </li>
              <li>Special Notes: <span class="text-danger"> {{doctorSession.fkDoctor.qualification}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="ui-profile-sessions">
        <ul>
          <li>
            <div class="ui-component ui-component-primary ui-component-sessions">

              <div class="ui-component-content">
                <div class="session-quick-details">
                  <ul>
                    <li class="session-date">{{doctorSession.startTime}}</li>
                    <li class="session-time">{{doctorSession.endTime}}</li>
                  </ul>
                </div>
                <div class="session-counter ui-action" data-original-title="" title="">
                  <ul>
                    <li class="session-active-title">Patient No.</li>
                    <li class="session-active-count">
                      {{doctorSession.availaility}}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="ui-component-content pending-time timer-div">
                <ul>
                  COMPLETE WITHIN
                  <strong id="timer-change">
                    <div class="timer-quick" data-seconds-left="299">
                      <div class="jst-hours"></div>
                      <div class="jst-minutes">04:</div>
                      <div class="jst-seconds">07</div>
                      <div class="jst-clearDiv"></div>
                    </div>
                  </strong>
                </ul>
              </div>
            </div>
          </li>

        </ul>
      </div>

      <div class="ui-profile-content">
        <form #inputForm="ngForm">
          <div class="form-group " id="book-name-div">
            <label class="col-lg-2 control-label" for="name">Patient's Name*</label>
            <div class="col-lg-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon5"><em class="fa fa-user text-danger"></em></span>
                </div>
                <select [(ngModel)]="booking.fkCustomer.title" class="form-control" id="book-title" name="title"
                        required>
                  <option value="Mr.">Mr.</option>
                  <option value="Mrs.">Mrs.</option>
                  <option value="Mast.">Mast.</option>
                  <option value="Miss">Miss</option>
                  <option value="Dr.">Dr.</option>
                  <option value="Dr (Ms.)">Dr (Ms.)</option>
                  <option value="Dr (Mrs.)">Dr (Mrs.)</option>
                  <option value="Prof.">Prof.</option>
                  <option value="Prof (Ms.)">Prof (Ms.)</option>
                  <option value="Prof (Mrs.)">Prof (Mrs.)</option>
                  <option value="Rev.">Rev.</option>
                  <option value="Baby">Baby</option>
                  <option value="Sis.">Sis.</option>
                  <option value="Ms.">Ms.</option>
                  <option value="Hon.">Hon.</option>
                  <option value="Other">Other</option>
                </select>
                <span class="input-group-addon"></span>
                <input [(ngModel)]="booking.fkCustomer.fname" class="form-control" id="book-name"
                       name="name" placeholder="First Name - Required" required type="text">
                <span class="input-group-addon"></span>
                <input [(ngModel)]="booking.fkCustomer.lname" class="form-control" id="book-name"
                       name="name" placeholder="Last Name - Required" required type="text">
              </div>
            </div>
          </div>

          <div class="form-group " id="book-phone-div">
            <label class="col-lg-2 control-label" for="phone">Mobile *</label>
            <div class="col-lg-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><em class="fa fa-phone text-danger"></em>&nbsp; +94</span>
                </div>
                <input [(ngModel)]="booking.fkCustomer.mobile" class="form-control" id="book-phone"
                       maxlength="9" name="phone" placeholder="Phone - Required" type="text">
              </div>
            </div>
          </div>
          <div class="form-group " id="book-passport-div">
            <label class="col-lg-2 control-label" for="passport">Age</label>
            <div class="col-lg-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><em class="fa fa-globe text-warning"></em></span>
                </div>
                <input [(ngModel)]="booking.fkCustomer.age" class="form-control" id="book-passport" name="passport"
                       placeholder="Age" required type="number">
              </div>
            </div>
          </div>

          <div class="form-group " id="book-nic-div">
            <label class="col-lg-2 control-label" for="nic">NIC / Passport *</label>
            <div class="col-lg-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><em class="fa fa-certificate text-warning"></em></span>
                </div>
                <input [(ngModel)]="booking.fkCustomer.nic" class="form-control" id="book-nic"
                       name="nic" placeholder="NIC / Passport - Required" type="text">
              </div>
              <span class="help-block" id="nic-validation"></span>
            </div>
          </div>

          <div class="form-group " id="book-email-div">
            <label class="col-lg-2 control-label" for="email">E-mail</label>
            <div class="col-lg-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><em class="fa fa-envelope"></em></span>
                </div>
                <input [(ngModel)]="booking.fkCustomer.email" class="form-control" id="book-email"
                       name="email" placeholder="E-Mail - Optional" required type="text">
              </div>

              <span class="help-block" id="email-validation"></span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2 control-label" for="running-number">Ongoing Number</label>
            <div class="col-lg-8">
              <div class="radio" style="padding-top: 5px;">
                <label>
                  <input checked="checked" name="running-number" type="radio" value="1"> Yes &nbsp;
                </label>
                <label>
                  <input name="running-number" type="radio" value="0"> No
                </label>
              </div>
            </div>
          </div>

          <div class="form-group term-con">
            <label class="col-lg-2 control-label"></label>
            <div class="col-lg-8">
              <div class="input-group" style="border-bottom: 0px;">
                By clicking "Continue", I agree to the <a data-target="#terms" data-toggle="modal" href="#">Terms &amp;
                Conditions</a> in use for Additional Service
              </div>
            </div>
          </div>

          <input name="timer_value" type="hidden" value="1561389969|1748">

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button (click)="createBooking()" class="btn btn-dialog" id="continue" type="submit"><em
                class="fa fa-check-square-o fa-fw"></em>
                Continue
              </button>
            </div>
          </div>

        </form>
      </div>

    </section>
  </div>
</div>
