<div class="row justify-content-center">
  <div class="col-md-8">
    <div *ngIf="lording" style="text-align: center; margin-top: 250px">
      <img alt="loader" height="256" src="../../assets/loader.gif" width="256"/>
    </div>

    <section *ngIf="!lording" class="container-doctors">
      <h3 class="ui-component-note">We Care</h3>
      <div class="ui-profile">
        <div class="doctor-profile">
          <div class="doctor-photo"><img alt="doctor vector image"
                                         src="https://image.freepik.com/free-vector/doctor-character-background_1270-84.jpg">
          </div>
          <div class="doctor-quick-details">
            <ul>
              <li *ngIf="doctor.id==null" class="doctor-name"><a href="#/">Doctor Not Available !</a>
                <span class="doctor-qualifications"></span></li>
              <li class="doctor-title">
              <li *ngIf="doctor.id!=null" class="doctor-name"><a href="#/">Dr.{{doctor.name}}</a>
                <span class="doctor-qualifications"></span></li>
              <li class="doctor-title">
                {{doctor.description}}
              </li>
              <li>Special Notes: <span class="text-danger">{{doctor.qualification}}</span></li>
            </ul>
          </div>
        </div>
      </div>

      <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
        <div class="panel">
          <div class="panel-heading" id="heading-9" role="tab">
            <a aria-controls="collapse-9" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse"
               href="#collapse-9" role="button">
              <h4 class="panel-title">
                <em class="fa fa-stethoscope fa-fw"></em>{{doctor.qualification}}<span class="pull-right"><em
                class="fa fa-chevron-down fa-fw"></em></span><br>
                <small>{{doctorSessionList.length}} Sessions</small>
              </h4>
            </a>
          </div>
          <div aria-labelledby="heading-9" class="panel-collapse collapse in" id="collapse-9" role="tabpanel">
            <div class="ui-profile-sessions ui-profile-sessions-list">
              <ul *ngFor="let doctorSession of doctorSessionList">
                <li>
                  <div class="ui-component ui-component-primary ui-component-sessions ui-component-channel">
                    <div class="ui-component-content">
                      <div class="session-quick-details" style="width: 255px">
                        <ul>
                          <li class="session-date">{{doctorSession.sessionDate}}</li>
                          <li class="session-time">{{doctorSession.startTime}} - {{doctorSession.endTime}}</li>
                        </ul>
                      </div>
                      <div class="session-counter ui-action" data-original-title="" title="">
                        <ul>
                          <li class="session-active-title">Active Appointments</li>
                          <li class="session-active-count">
                            {{doctorSession.availaility}}
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="ui-component-options">
                      <ul>
                        <li style="margin-left: 50px">
                          <a (click)="confirmbooking(doctorSession)" class="btn btn-dialog">
                            <em class="fa fa-bookmark-o fa-fw"></em> Channel</a>
                        </li>
                        <li class="session-status">Available</li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
